# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "20.x"
    displayName: "Install Node.js"

  - script: |
      npm ci
    displayName: "npm ci"

  - script: |
      npm run type-check
    displayName: "Type Check"

  - script: |
      npm run lint
    displayName: "Lint"

  - script: |
      npm run test
    displayName: "Run Tests"
