# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

pool:
  vmImage: ubuntu-latest

stages:
  - stage: Build
    displayName: "Build Stage"
    jobs:
      - job: Build
        displayName: "Build Job"
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: "20.x"
            displayName: "Install Node.js"

          - script: |
              npm ci
            displayName: "npm ci"

          - script: |
              npm run tsoa:gen
            displayName: "Generate Routes & Spec"

          - script: |
              npm run type-check
            displayName: "Type Check"

          - script: |
              npm run lint
            displayName: "Lint"

          - script: |
              npm run test
            displayName: "Run Tests"

          - task: PublishTestResults@2
            inputs:
              testResultsFormat: "JUnit"
              testResultsFiles: "test-results/junit.xml"
            displayName: "Publish Test Results"
            condition: succeededOrFailed()

          - script: |
              npm run build
            displayName: "Build Project"

          - task: ArchiveFiles@2
            inputs:
              rootFolderOrFile: "$(System.DefaultWorkingDirectory)/dist"
              includeRootFolder: false
              archiveType: "zip"
              archiveFile: "$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip"
              replaceExistingArchive: true
            displayName: "Archive Artifacts"

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "$(Build.ArtifactStagingDirectory)"
              ArtifactName: "drop"
              publishLocation: "Container"
            displayName: "Publish Artifacts"

  - stage: Deploy
    displayName: "Deploy Stage"
    dependsOn: Build
    condition: succeeded()
    jobs:
      - job: Deploy
        displayName: "Deploy Job"
        steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: 'current'
              artifactName: 'drop'
              targetPath: '$(Pipeline.Workspace)'
            displayName: 'Download Artifacts'

          - task: AzureWebApp@1
            inputs:
              azureSubscription: "04034056-2827-46f3-9107-49cb87ba3454"
              appType: "webAppLinux"
              appName: "warranty-service"
              package: "$(Pipeline.Workspace)/drop/$(Build.BuildId).zip"
              startUpCommand: "node index.js"
